In [1]:
import pandas as pd 
file = "../data/raw/AirFrance_2025-01-01.csv"
df_raw = pd.read_csv(file, delimiter=";")

In [2]:
df_raw.head()

,Date de début,Date de fin,Organisme,code zas,Zas,code site,nom site,type d'implantation,Polluant,type d'influence,...,procédure de mesure,type de valeur,valeur,valeur brute,unité de mesure,taux de saisie,couverture temporelle,couverture de données,code qualité,validité
0,2025/01/01 00:00:00,2025/01/01 01:00:00,ATMO GRAND EST,FR44ZAG02,ZAG METZ,FR01011,Metz-Centre,Urbaine,NO,Fond,...,Auto NO Conf meth CHIMILU,moyenne horaire validée,0.7,0.650,µg-m3,NaN,NaN,NaN,A,1
1,2025/01/01 01:00:00,2025/01/01 02:00:00,ATMO GRAND EST,FR44ZAG02,ZAG METZ,FR01011,Metz-Centre,Urbaine,NO,Fond,...,Auto NO Conf meth CHIMILU,moyenne horaire validée,0.7,0.675,µg-m3,NaN,NaN,NaN,A,1
2,2025/01/01 02:00:00,2025/01/01 03:00:00,ATMO GRAND EST,FR44ZAG02,ZAG METZ,FR01011,Metz-Centre,Urbaine,NO,Fond,...,Auto NO Conf meth CHIMILU,moyenne horaire validée,0.4,0.350,µg-m3,NaN,NaN,NaN,A,1
3,2025/01/01 03:00:00,2025/01/01 04:00:00,ATMO GRAND EST,FR44ZAG02,ZAG METZ,FR01011,Metz-Centre,Urbaine,NO,Fond,...,Auto NO Conf meth CHIMILU,moyenne horaire validée,0.6,0.575,µg-m3,NaN,NaN,NaN,A,1
4,2025/01/01 04:00:00,2025/01/01 05:00:00,ATMO GRAND EST,FR44ZAG02,ZAG METZ,FR01011,Metz-Centre,Urbaine,NO,Fond,...,Auto NO Conf meth CHIMILU,moyenne horaire validée,0.3,0.275,µg-m3,NaN,NaN,NaN,A,1

In [3]:
df_sample=df_raw.sample(frac=0.20, random_state=42)

In [4]:
df_sample.to_csv("../data/sample/AirFrance_2025-01-01_sample.csv", index=False)

In [5]:
df_sample.shape

(9998, 23)

In [6]:
df_sample.columns

Index(['Date de début', 'Date de fin', 'Organisme', 'code zas', 'Zas',
       'code site', 'nom site', 'type d'implantation', 'Polluant',
       'type d'influence', 'discriminant', 'Réglementaire',
       'type d'évaluation', 'procédure de mesure', 'type de valeur', 'valeur',
       'valeur brute', 'unité de mesure', 'taux de saisie',
       'couverture temporelle', 'couverture de données', 'code qualité',
       'validité'],
      dtype='object')

In [7]:
df_sample.head()

,Date de début,Date de fin,Organisme,code zas,Zas,code site,nom site,type d'implantation,Polluant,type d'influence,...,procédure de mesure,type de valeur,valeur,valeur brute,unité de mesure,taux de saisie,couverture temporelle,couverture de données,code qualité,validité
43681,2025/01/01 01:00:00,2025/01/01 02:00:00,GWAD'AIR,FR01ZRE01,ZR GUADELOUPE,FR37038,SXM Marigot,Urbaine,NO2,Fond,...,Auto NO2_NOx Conf app API T200,moyenne horaire validée,12.4,12.42500,µg/m3,NaN,NaN,NaN,A,1
34683,2025/01/01 03:00:00,2025/01/01 04:00:00,ATMO NOUVELLE-AQUITAINE,FR75ZAG01,ZAG BORDEAUX,FR31002,TALENCE,Urbaine,NO,Fond,...,Auto NO app AC32M,moyenne horaire validée,0.9,0.86667,µg-m3,NaN,NaN,NaN,R,1
20755,2025/01/01 19:00:00,2025/01/01 20:00:00,ATMO HAUTS DE FRANCE,FR32ZRE01,ZR HAUTS-DE-FRANCE,FR18042,P. Roth St Quentin,Urbaine,PM2.5,Fond,...,Auto PM_Conf_app MP101M-RST,moyenne horaire validée,7.1,7.10000,µg-m3,NaN,NaN,NaN,A,1
6705,2025/01/01 09:00:00,2025/01/01 10:00:00,AIRPARIF,FR11ZAG01,ZAG PARIS,FR04149,MONTGERON,Urbaine,O3,Fond,...,Auto O3 Conf app O342M,moyenne horaire validée,45.2,45.20000,µg-m3,NaN,NaN,NaN,A,1
20258,2025/01/01 02:00:00,2025/01/01 03:00:00,ATMO GRAND EST,FR44ZAG01,ZAG STRASBOURG,FR16215,Strasbourg A35 Remparts,Urbaine,PM10,Trafic,...,Auto PM_Conf_meth FDMS,moyenne horaire validée,50.4,50.37500,µg-m3,NaN,NaN,NaN,A,1

In [8]:
df_sample.head()

,Date de début,Date de fin,Organisme,code zas,Zas,code site,nom site,type d'implantation,Polluant,type d'influence,...,procédure de mesure,type de valeur,valeur,valeur brute,unité de mesure,taux de saisie,couverture temporelle,couverture de données,code qualité,validité
43681,2025/01/01 01:00:00,2025/01/01 02:00:00,GWAD'AIR,FR01ZRE01,ZR GUADELOUPE,FR37038,SXM Marigot,Urbaine,NO2,Fond,...,Auto NO2_NOx Conf app API T200,moyenne horaire validée,12.4,12.42500,µg/m3,NaN,NaN,NaN,A,1
34683,2025/01/01 03:00:00,2025/01/01 04:00:00,ATMO NOUVELLE-AQUITAINE,FR75ZAG01,ZAG BORDEAUX,FR31002,TALENCE,Urbaine,NO,Fond,...,Auto NO app AC32M,moyenne horaire validée,0.9,0.86667,µg-m3,NaN,NaN,NaN,R,1
20755,2025/01/01 19:00:00,2025/01/01 20:00:00,ATMO HAUTS DE FRANCE,FR32ZRE01,ZR HAUTS-DE-FRANCE,FR18042,P. Roth St Quentin,Urbaine,PM2.5,Fond,...,Auto PM_Conf_app MP101M-RST,moyenne horaire validée,7.1,7.10000,µg-m3,NaN,NaN,NaN,A,1
6705,2025/01/01 09:00:00,2025/01/01 10:00:00,AIRPARIF,FR11ZAG01,ZAG PARIS,FR04149,MONTGERON,Urbaine,O3,Fond,...,Auto O3 Conf app O342M,moyenne horaire validée,45.2,45.20000,µg-m3,NaN,NaN,NaN,A,1
20258,2025/01/01 02:00:00,2025/01/01 03:00:00,ATMO GRAND EST,FR44ZAG01,ZAG STRASBOURG,FR16215,Strasbourg A35 Remparts,Urbaine,PM10,Trafic,...,Auto PM_Conf_meth FDMS,moyenne horaire validée,50.4,50.37500,µg-m3,NaN,NaN,NaN,A,1

In [9]:
df_sample.shape

(9998, 23)

In [10]:
df_sample.columns

Index(['Date de début', 'Date de fin', 'Organisme', 'code zas', 'Zas',
       'code site', 'nom site', 'type d'implantation', 'Polluant',
       'type d'influence', 'discriminant', 'Réglementaire',
       'type d'évaluation', 'procédure de mesure', 'type de valeur', 'valeur',
       'valeur brute', 'unité de mesure', 'taux de saisie',
       'couverture temporelle', 'couverture de données', 'code qualité',
       'validité'],
      dtype='object')

In [11]:
df_sample.dtypes

Date de début             object
Date de fin               object
Organisme                 object
code zas                  object
Zas                       object
code site                 object
nom site                  object
type d'implantation       object
Polluant                  object
type d'influence          object
discriminant              object
Réglementaire             object
type d'évaluation         object
procédure de mesure       object
type de valeur            object
valeur                   float64
valeur brute             float64
unité de mesure           object
taux de saisie           float64
couverture temporelle    float64
couverture de données    float64
code qualité              object
validité                   int64
dtype: object

In [12]:
df_sample.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9998 entries, 43681 to 33117
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Date de début          9998 non-null   object
 1   Date de fin            9998 non-null   object
 2   Organisme              9998 non-null   object
 3   code zas               9998 non-null   object
 4   Zas                    9998 non-null   object
 5   code site              9998 non-null   object
 6   nom site               9998 non-null   object
 7   type d'implantation    9998 non-null   object
 8   Polluant               9998 non-null   object
 9   type d'influence       9998 non-null   object
 10  discriminant           8655 non-null   object
 11  Réglementaire          9998 non-null   object
 12  type d'évaluation      9998 non-null   object
 13  procédure de mesure    9998 non-null   object
 14  type de valeur         9998 non-null   object
 15  valeur                 9587 non-null   float64
 16  valeur brute           9587 non-null   float64
 17  unité de mesure        9998 non-null   object
 18  taux de saisie         0 non-null      float64
 19  couverture temporelle  0 non-null      float64
 20  couverture de données  0 non-null      float64
 21  code qualité           9998 non-null   object
 22  validité               9998 non-null   int64
dtypes: float64(5), int64(1), object(17)
memory usage: 1.8+ MB

In [13]:
df_sample.isna().sum()

Date de début               0
Date de fin                 0
Organisme                   0
code zas                    0
Zas                         0
code site                   0
nom site                    0
type d'implantation         0
Polluant                    0
type d'influence            0
discriminant             1343
Réglementaire               0
type d'évaluation           0
procédure de mesure         0
type de valeur              0
valeur                    411
valeur brute              411
unité de mesure             0
taux de saisie           9998
couverture temporelle    9998
couverture de données    9998
code qualité                0
validité                    0
dtype: int64

In [14]:
df_sample.isna().sum()[df_sample.isna().sum()>0]

discriminant             1343
valeur                    411
valeur brute              411
taux de saisie           9998
couverture temporelle    9998
couverture de données    9998
dtype: int64

In [15]:
(df_sample.isna().sum() / len(df_sample)) * 100

Date de début              0.000000
Date de fin                0.000000
Organisme                  0.000000
code zas                   0.000000
Zas                        0.000000
code site                  0.000000
nom site                   0.000000
type d'implantation        0.000000
Polluant                   0.000000
type d'influence           0.000000
discriminant              13.432687
Réglementaire              0.000000
type d'évaluation          0.000000
procédure de mesure        0.000000
type de valeur             0.000000
valeur                     4.110822
valeur brute               4.110822
unité de mesure            0.000000
taux de saisie           100.000000
couverture temporelle    100.000000
couverture de données    100.000000
code qualité               0.000000
validité                   0.000000
dtype: float64

In [16]:
df_sample.duplicated().sum()

np.int64(0)

In [17]:
df_sample.describe()

,valeur,valeur brute,taux de saisie,couverture temporelle,couverture de données,validité
count,9587.000000,9587.000000,0.0,0.0,0.0,9998.000000
mean,17.636186,17.624092,NaN,NaN,NaN,0.945689
std,22.446032,22.445015,NaN,NaN,NaN,0.495201
min,-3.300000,-3.275000,NaN,NaN,NaN,-1.000000
25%,3.100000,3.085000,NaN,NaN,NaN,1.000000
50%,9.300000,9.250000,NaN,NaN,NaN,1.000000
75%,22.900000,22.912500,NaN,NaN,NaN,1.000000
max,405.300000,405.250000,NaN,NaN,NaN,4.000000

In [18]:
df_sample.describe(include='object')

,Date de début,Date de fin,Organisme,code zas,Zas,code site,nom site,type d'implantation,Polluant,type d'influence,discriminant,Réglementaire,type d'évaluation,procédure de mesure,type de valeur,unité de mesure,code qualité
count,9998,9998,9998,9998,9998,9998,9998,9998,9998,9998,8655,9998,9998,9998,9998,9998,9998
unique,24,24,17,70,70,505,503,5,9,3,25,1,3,56,1,3,3
top,2025/01/01 22:00:00,2025/01/01 23:00:00,ATMO AUVERGNE-RHÔNE-ALPES,FR11ZAG01,ZAG PARIS,FR09404,SAINT EXUPERY,Urbaine,NO,Fond,1,Oui,mesures fixes,Auto PM_Conf_app FIDAS 200,moyenne horaire validée,µg-m3,A
freq,446,446,1403,753,753,44,60,6732,1751,7084,4219,9998,8918,1047,9998,9695,7962

In [19]:
for col in df_sample.columns:
    print(col, ":", df_sample[col].nunique())

Date de début : 24
Date de fin : 24
Organisme : 17
code zas : 70
Zas : 70
code site : 505
nom site : 503
type d'implantation : 5
Polluant : 9
type d'influence : 3
discriminant : 25
Réglementaire : 1
type d'évaluation : 3
procédure de mesure : 56
type de valeur : 1
valeur : 1031
valeur brute : 2702
unité de mesure : 3
taux de saisie : 0
couverture temporelle : 0
couverture de données : 0
code qualité : 3
validité : 3

In [20]:
df_sample.nunique()

Date de début              24
Date de fin                24
Organisme                  17
code zas                   70
Zas                        70
code site                 505
nom site                  503
type d'implantation         5
Polluant                    9
type d'influence            3
discriminant               25
Réglementaire               1
type d'évaluation           3
procédure de mesure        56
type de valeur              1
valeur                   1031
valeur brute             2702
unité de mesure             3
taux de saisie              0
couverture temporelle       0
couverture de données       0
code qualité                3
validité                    3
dtype: int64

In [21]:
df_sample['Polluant'].value_counts()

Polluant
NO            1751
NO2           1749
NOX as NO2    1747
PM10          1628
O3            1428
PM2.5         1185
SO2            384
CO             100
C6H6            26
Name: count, dtype: int64

In [22]:
df_sample['Date de début'] = pd.to_datetime(df_sample['Date de début'])
df_sample['Date de fin'] = pd.to_datetime(df_sample['Date de fin'])

In [23]:
df_sample.corr(numeric_only=True)

,valeur,valeur brute,taux de saisie,couverture temporelle,couverture de données,validité
valeur,1.000000,0.999999,NaN,NaN,NaN,0.168468
valeur brute,0.999999,1.000000,NaN,NaN,NaN,0.168486
taux de saisie,NaN,NaN,NaN,NaN,NaN,NaN
couverture temporelle,NaN,NaN,NaN,NaN,NaN,NaN
couverture de données,NaN,NaN,NaN,NaN,NaN,NaN
validité,0.168468,0.168486,NaN,NaN,NaN,1.000000

In [24]:
df_sample.iloc[:,6]

43681                SXM Marigot
34683                    TALENCE
20755         P. Roth St Quentin
6705                   MONTGERON
20258    Strasbourg A35 Remparts
                  ...
42447           SAILLAT - Ipaper
25911       S ETIENNE DE MONTLUC
17491               Jean d Aulan
35549                     ANGLET
33117          SAINT ETIENNE SUD
Name: nom site, Length: 9998, dtype: object

In [25]:
df_sample["Date de fin"].iloc[0]

Timestamp('2025-01-01 02:00:00')

In [26]:
df_sample.iloc[2]

Date de début                    2025-01-01 19:00:00
Date de fin                      2025-01-01 20:00:00
Organisme                       ATMO HAUTS DE FRANCE
code zas                                   FR32ZRE01
Zas                               ZR HAUTS-DE-FRANCE
code site                                    FR18042
nom site                          P. Roth St Quentin
type d'implantation                          Urbaine
Polluant                                       PM2.5
type d'influence                                Fond
discriminant                                       0
Réglementaire                                    Oui
type d'évaluation                      mesures fixes
procédure de mesure      Auto PM_Conf_app MP101M-RST
type de valeur               moyenne horaire validée
valeur                                           7.1
valeur brute                                     7.1
unité de mesure                                µg-m3
taux de saisie                                   NaN
couverture temporelle                            NaN
couverture de données                            NaN
code qualité                                       A
validité                                           1
Name: 20755, dtype: object

In [27]:
df_sample['Polluant'].iloc[:10]

43681      NO2
34683       NO
20755    PM2.5
6705        O3
20258     PM10
24876      NO2
1822     PM2.5
13695     PM10
28329       CO
26826      NO2
Name: Polluant, dtype: object

In [28]:
df_sample.iloc[:10]

,Date de début,Date de fin,Organisme,code zas,Zas,code site,nom site,type d'implantation,Polluant,type d'influence,...,procédure de mesure,type de valeur,valeur,valeur brute,unité de mesure,taux de saisie,couverture temporelle,couverture de données,code qualité,validité
43681,2025-01-01 01:00:00,2025-01-01 02:00:00,GWAD'AIR,FR01ZRE01,ZR GUADELOUPE,FR37038,SXM Marigot,Urbaine,NO2,Fond,...,Auto NO2_NOx Conf app API T200,moyenne horaire validée,12.400,12.42500,µg/m3,NaN,NaN,NaN,A,1
34683,2025-01-01 03:00:00,2025-01-01 04:00:00,ATMO NOUVELLE-AQUITAINE,FR75ZAG01,ZAG BORDEAUX,FR31002,TALENCE,Urbaine,NO,Fond,...,Auto NO app AC32M,moyenne horaire validée,0.900,0.86667,µg-m3,NaN,NaN,NaN,R,1
20755,2025-01-01 19:00:00,2025-01-01 20:00:00,ATMO HAUTS DE FRANCE,FR32ZRE01,ZR HAUTS-DE-FRANCE,FR18042,P. Roth St Quentin,Urbaine,PM2.5,Fond,...,Auto PM_Conf_app MP101M-RST,moyenne horaire validée,7.100,7.10000,µg-m3,NaN,NaN,NaN,A,1
6705,2025-01-01 09:00:00,2025-01-01 10:00:00,AIRPARIF,FR11ZAG01,ZAG PARIS,FR04149,MONTGERON,Urbaine,O3,Fond,...,Auto O3 Conf app O342M,moyenne horaire validée,45.200,45.20000,µg-m3,NaN,NaN,NaN,A,1
20258,2025-01-01 02:00:00,2025-01-01 03:00:00,ATMO GRAND EST,FR44ZAG01,ZAG STRASBOURG,FR16215,Strasbourg A35 Remparts,Urbaine,PM10,Trafic,...,Auto PM_Conf_meth FDMS,moyenne horaire validée,50.400,50.37500,µg-m3,NaN,NaN,NaN,A,1
24876,2025-01-01 12:00:00,2025-01-01 13:00:00,ATMO NORMANDIE,FR28ZRE02,ZR NORMANDIE,FR21039,Cherbourg PMF,Urbaine,NO2,Trafic,...,Auto NO2_Conf_app AS32M,moyenne horaire validée,1.900,1.90000,µg-m3,NaN,NaN,NaN,A,1
1822,2025-01-01 22:00:00,2025-01-01 23:00:00,ATMO SUD,FR93ZAG01,ZAG MARSEILLE-AIX,FR03006,MARSEILLE RABATAU,Urbaine,PM2.5,Trafic,...,Auto PM_Conf_app BAM 1020-Smart Heater,moyenne horaire validée,34.400,34.40000,µg-m3,NaN,NaN,NaN,A,1
13695,2025-01-01 15:00:00,2025-01-01 16:00:00,ATMO NOUVELLE-AQUITAINE,FR75ZRE02,ZR NOUVELLE-AQUITAINE,FR09404,Poitiers Centre Augouard,Urbaine,PM10,Fond,...,Auto PM_Conf_app FIDAS 200E,moyenne horaire validée,10.400,10.37500,µg-m3,NaN,NaN,NaN,A,1
28329,2025-01-01 09:00:00,2025-01-01 10:00:00,AIR PAYS DE LA LOIRE,FR52ZAG01,ZAG NANTES-SAINT-NAZAIRE,FR23251,FRERES GONCOURT,Urbaine,CO,Trafic,...,Auto CO Conf app CO12M,moyenne horaire validée,0.241,0.24125,mg-m3,NaN,NaN,NaN,A,1
26826,2025-01-01 18:00:00,2025-01-01 19:00:00,AIR PAYS DE LA LOIRE,FR52ZAR01,ZAR ANGERS-LOIRE,FR23150,APPENTIS,Urbaine,NO2,Fond,...,Auto NO2_NOx app AC32M,moyenne horaire validée,5.400,5.40000,µg-m3,NaN,NaN,NaN,A,1

In [29]:
missing = (df_sample.isna().sum()/len(df_sample)) * 100
missing = missing.sort_values(ascending=False)
missing

taux de saisie           100.000000
couverture de données    100.000000
couverture temporelle    100.000000
discriminant              13.432687
valeur                     4.110822
valeur brute               4.110822
Date de début              0.000000
nom site                   0.000000
code site                  0.000000
Zas                        0.000000
code zas                   0.000000
Organisme                  0.000000
Date de fin                0.000000
Polluant                   0.000000
type d'implantation        0.000000
type de valeur             0.000000
procédure de mesure        0.000000
type d'évaluation          0.000000
Réglementaire              0.000000
type d'influence           0.000000
unité de mesure            0.000000
code qualité               0.000000
validité                   0.000000
dtype: float64

In [30]:
for col in df_sample.columns:
    if df_sample[col].nunique() <= 15:
        print(col, "only 5 unique value")

type d'implantation only 5 unique value
Polluant only 5 unique value
type d'influence only 5 unique value
Réglementaire only 5 unique value
type d'évaluation only 5 unique value
type de valeur only 5 unique value
unité de mesure only 5 unique value
taux de saisie only 5 unique value
couverture temporelle only 5 unique value
couverture de données only 5 unique value
code qualité only 5 unique value
validité only 5 unique value

In [31]:
df_sample.nunique()

Date de début              24
Date de fin                24
Organisme                  17
code zas                   70
Zas                        70
code site                 505
nom site                  503
type d'implantation         5
Polluant                    9
type d'influence            3
discriminant               25
Réglementaire               1
type d'évaluation           3
procédure de mesure        56
type de valeur              1
valeur                   1031
valeur brute             2702
unité de mesure             3
taux de saisie              0
couverture temporelle       0
couverture de données       0
code qualité                3
validité                    3
dtype: int64

In [32]:
# Filter and print only type d'implantation column where value == Périurbaine using .loc
df_periurbaine = df_sample[df_sample["type d'implantation"] == "Périurbaine"]
df_periurbaine.loc[30940:23120, "type d'implantation"]
print(len(df_periurbaine))

2007

In [33]:
df_sample.nunique()

Date de début              24
Date de fin                24
Organisme                  17
code zas                   70
Zas                        70
code site                 505
nom site                  503
type d'implantation         5
Polluant                    9
type d'influence            3
discriminant               25
Réglementaire               1
type d'évaluation           3
procédure de mesure        56
type de valeur              1
valeur                   1031
valeur brute             2702
unité de mesure             3
taux de saisie              0
couverture temporelle       0
couverture de données       0
code qualité                3
validité                    3
dtype: int64

In [34]:
df_sample.apply(lambda col: col.nunique() == 1)

Date de début            False
Date de fin              False
Organisme                False
code zas                 False
Zas                      False
code site                False
nom site                 False
type d'implantation      False
Polluant                 False
type d'influence         False
discriminant             False
Réglementaire             True
type d'évaluation        False
procédure de mesure      False
type de valeur            True
valeur                   False
valeur brute             False
unité de mesure          False
taux de saisie           False
couverture temporelle    False
couverture de données    False
code qualité             False
validité                 False
dtype: bool

In [35]:
df_sample.isna().sum()

Date de début               0
Date de fin                 0
Organisme                   0
code zas                    0
Zas                         0
code site                   0
nom site                    0
type d'implantation         0
Polluant                    0
type d'influence            0
discriminant             1343
Réglementaire               0
type d'évaluation           0
procédure de mesure         0
type de valeur              0
valeur                    411
valeur brute              411
unité de mesure             0
taux de saisie           9998
couverture temporelle    9998
couverture de données    9998
code qualité                0
validité                    0
dtype: int64

In [36]:
df_sample.isna().sum()/len(df_sample) *100

Date de début              0.000000
Date de fin                0.000000
Organisme                  0.000000
code zas                   0.000000
Zas                        0.000000
code site                  0.000000
nom site                   0.000000
type d'implantation        0.000000
Polluant                   0.000000
type d'influence           0.000000
discriminant              13.432687
Réglementaire              0.000000
type d'évaluation          0.000000
procédure de mesure        0.000000
type de valeur             0.000000
valeur                     4.110822
valeur brute               4.110822
unité de mesure            0.000000
taux de saisie           100.000000
couverture temporelle    100.000000
couverture de données    100.000000
code qualité               0.000000
validité                   0.000000
dtype: float64

In [37]:
df_sample["valeur brute"].isna().sum()

np.int64(411)

In [38]:
(df_sample["valeur brute"] == 0).sum()

np.int64(21)

In [39]:
df_sample['validité'].value_counts()

validité
 1    9494
-1     411
 4      93
Name: count, dtype: int64

In [40]:
# 1. Drop useless columns
columns_to_drop = [
    "valeur brute", 
    "Réglementaire", 
    "type de valeur",
    "taux de saisie",
    "couverture temporelle",
    "couverture de données",
    "validité"
]
df_clean = df_raw.drop(columns=columns_to_drop)

# 2. Remove missing pollution values
df_clean = df_clean.dropna(subset=["valeur"])

# 3. Remove zero values
df_clean = df_clean[df_clean["valeur"] != 0]

# 4. Convert dates
df_clean["Date de début"] = pd.to_datetime(df_clean["Date de début"], errors="coerce")
df_clean["Date de fin"]   = pd.to_datetime(df_clean["Date de fin"], errors="coerce")

# 5. Remove invalid dates
df_clean = df_clean.dropna(subset=["Date de début", "Date de fin"])
df_clean = df_clean[df_clean["Date de fin"] >= df_clean["Date de début"]]

# 6. Remove duplicates
df_clean = df_clean.drop_duplicates()

# 7. Remove negative values
df_clean = df_clean[df_clean["valeur"] >= 0]

In [41]:
df_clean.to_csv("../data/processed/AirFrance_2025_cleaned.csv", index=False)

In [42]:
df_raw.columns

Index(['Date de début', 'Date de fin', 'Organisme', 'code zas', 'Zas',
       'code site', 'nom site', 'type d'implantation', 'Polluant',
       'type d'influence', 'discriminant', 'Réglementaire',
       'type d'évaluation', 'procédure de mesure', 'type de valeur', 'valeur',
       'valeur brute', 'unité de mesure', 'taux de saisie',
       'couverture temporelle', 'couverture de données', 'code qualité',
       'validité'],
      dtype='object')

In [43]:
df_sample.columns

Index(['Date de début', 'Date de fin', 'Organisme', 'code zas', 'Zas',
       'code site', 'nom site', 'type d'implantation', 'Polluant',
       'type d'influence', 'discriminant', 'Réglementaire',
       'type d'évaluation', 'procédure de mesure', 'type de valeur', 'valeur',
       'valeur brute', 'unité de mesure', 'taux de saisie',
       'couverture temporelle', 'couverture de données', 'code qualité',
       'validité'],
      dtype='object')

In [44]:
df_clean.columns

Index(['Date de début', 'Date de fin', 'Organisme', 'code zas', 'Zas',
       'code site', 'nom site', 'type d'implantation', 'Polluant',
       'type d'influence', 'discriminant', 'type d'évaluation',
       'procédure de mesure', 'valeur', 'unité de mesure', 'code qualité'],
      dtype='object')